<!--video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup='{"liveui": true}'
  >
    <source src="https://cloud2.macroscop.com:18080/mobile?channelid=3329c69b-17e4-4d3b-9fcc-542bdfaefbe1&login=user3141400&password=78302615C8B79CAC8DF6D2607F8A83EE"
            type="image/jpeg" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video-->

  <video width="560" controls>
    <source src="{{ url }}" type="video/mp4">
  </video>

  <img *ngIf="show"
        style="-webkit-user-select: none;"
        src="{{ url }}" width="1037" height="583">